* {
    box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.header,
.footer {
  height: 150px; 
  background-color: bisque;
}

.content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  background-color: blue;
  flex-basis: 25%;
  padding: 24px;
}

.main {
  background-color: lawngreen;
  flex-grow: 1;
  padding: 24px;
}
